.header__conteiner {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header__info {
  display: flex;
  font-size: "Roboto", serif;
  font-size: 24px;
  color: azure;
  font-weight: 500;
  margin-bottom: 5px;
}

.header__list {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  list-style: none;
}
